<% if (!user) { %>
<!-- <p>Welcome! Please <a href="/add_article">Add article</a>.</p> -->
<script>
  window.location.href = "/login";
</script>
<p>
  This site works best with Javascript enabled. If you'd like to try it anyway,
  click <a href="/login">here</a>.
</p>
<% } else { %>
<p>
  Hello <%= user.username %>, welcome home! <a href="/logout">logout</a><br />
  <a href="add_article">Add article</a>

  Your article id: <%= artid %><br />
  Your user id: <%= userid %><br />
  <!--Article: <%= articleid %><br /> -->
  Your link: <%= link %><br />

  <img src="<%= link %>" />
</p>
<% } %>
