<% if (!user) { %>
<!-- <p>Welcome! Please <a href="/add_article">Add article</a>.</p> -->
<script>
  window.location.href = "/login";
</script>
<p>
  This site works best with Javascript enabled. If you'd like to try it anyway,
  click <a href="/login">here</a>.
</p>
<% } else { %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Dashboard - Fludder</title>
    <meta
      name="description"
      content="This is a simple note-taking app exercise using Node/Express, Passport.js local auth and MongoDB/Mongoose."
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css"> -->
    <link rel="stylesheet" href="/css/Login-Form-Dark.css" />
    <!-- <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css"> -->
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css" />
    <style>
      #html-output {
        white-space: pre-wrap;
      }
      @media screen and (min-size: 768px) {
        .artImage {
          float: right;
        }
      }
      @media screen and (max-size: 767px) {
        .artImage {
          /* A fake rule to not get warning- revisit later */
          background-color: paleturquoise;
        }
      }
    </style>
  </head>

  <body>
    <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
    >
      <div class="container">
        <a class="navbar-brand logo" href="/">Fludder</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navbarNav"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/all_articles">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_article">Add Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="page projects-page">
      <section class="portfolio-block projects-cards" style="padding-top: 70px">
        <div class="container">
          <div class="heading col">
            <div
              id="noArticlesAlert"
              class="d-none alert alert-secondary w-100 fade show mt-4"
              role="alert"
            > <!-- end div.noArticlesAlert -->
              You have no articles. Use the menu above to add your first!
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              id="articleDeletedAlert"
              class="d-none alert alert-secondary w-100 fade show mt-4"
              role="alert"
            > <!-- end div.articleDeletedAlert -->
              Article deleted successfully.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              id="deleteFailedAlert"
              class="d-none alert alert-secondary w-100 fade show mt-4"
              role="alert"
            >
              Failed to delete article. Sorry!
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>


            <h2 id="origTitle">DASHBOARD</h2>
            <h2 id="searchTitle" class="d-none">SEARCH RESULTS</h2>
            <div class="row">
              <form class="pt-0 pb-0" id="form1" style="box-shadow: none" action="#">
                <div class="row">
                    <div class="col"></div>
                    <!-- <div class="col-lg-4 col-md-5 col-sm-7">  removing to see if spacing issues will fix-->
                      <div>
                        <div class="mt-2 mb-2 form-group">
                            <label class="sr-only" for="searchBox">Search</label>
                            <input type="text" class="form-control" id="searchBox" name="searchBox" placeholder="Search..." data-placement="right" title="Enter text to find & check one or more boxes below for search type.">
                            <!--
                              <input class="form-control" id="inputTestID" name="inputTest" placeholder="Test" type="text" data-placement="bottom" title="Tooltip Text">
                            -->
                        </div>
                    </div>
                    <div class="col"></div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-4 col-md-5 col-sm-7 d-flex justify-content-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="titleCheckbox" value="true">
                            <label class="form-check-label small text-muted" for="titleCheckbox">Title</label>
                        </div>
                    
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="subtitleCheckbox" value="true">
                            <label class="form-check-label small text-muted" for="subtitleCheckbox">Subtitle</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="txtCheckbox" value="true">
                            <label class="form-check-label small text-muted" for="txtCheckbox">Body</label>
                        </div>
                    </div>
                    <div class="col"></div>
                </div> <!-- end row -->
              </form>
            </div> <!-- end row -->
          </div>
          <!-- end heading -->

          <div id="searchResults">
            <div
              role="alert"
              id="noSearchResAlert"
              class="alert alert-secondary d-none w-100 fade show"
            >
              No articles found for your search term(s).
            </div>

            <!-- not sure if doing this here -->
            <!-- 
            <div><% include('./textversion.ejs') %></div>
            -->
            <div id="searchResultList"></div>
          </div> <!-- end div.searchResults -->

          <div class="row" id="theArticles">
            <div class="row" id="theArticles">
              <% if(!articles) console.log("NO ARTICLES 89");
              articles.forEach(curr => { let createdAt = new
              Date(curr.createdAt.toDateString()); createdAt =
              createdAt.toString().split(" ").splice(0, 4).join(" "); let myUrl =
              "http://" + host + "/article/" + curr._id; %>
  
              <div class="col-md-6 col-lg-4 originalArticle">
                <div class="card articleCard border-0">
                  <a href="<%- myUrl %>">
                    <img
                      class="card-img-top scale-on-hover"
                      src="<%- curr.link %>"
                      alt="Card Image"
                    />
                  </a>
                  <div class="card-body">
                    <h4 class="mb-0">
                      <a href="<%- myUrl %>"><%= curr.title %></a>
                      <!-- I dunno how this ended up here <span id="searchTitle"><%= curr.title %></span> -->
                    </h4>
                    <p class="mb-0 text-muted"><%= createdAt %></p>
                    <h6 class="card-text"><%= curr.subtitle %></h6>
                  </div>
                </div>
              </div>
              <% }); %>
            </div>
            
          <!-- end row theArticles -->
        </div>
        <!-- end container-->
      </section>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="links"><a href="/about">About</a></div>
        <div class="social-icons"></div>
      </div>
    </footer>
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="/js/bs-init.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/theme.js"></script>
    <script>
      // Setup the tooltip for the search text input that reminds user to check 1+ box(es)      
      $(document).ready(function(){
        $('#searchBox').tooltip();
      });

      // handle back button which otherwise would leave search box filled
      $(window).bind("pageshow", function() {
        var form = $('form'); 
        // let the browser natively reset defaults
        form[0].reset();
      });

      const noArticlesAlert = document.getElementById("noArticlesAlert");
      const articleCards = document.getElementsByClassName("articleCard");
      const deleteFailedAlert = document.getElementById("deleteFailedAlert");
      const articleDeletedAlert = document.getElementById("articleDeletedAlert");

      const queryString = window.location.search; // the URL query ?string
      const urlParams = new URLSearchParams(queryString);

      console.log("articleCards.length: " + articleCards.length);
      
      // Show "You have no articles yet"
      if (articleCards.length === 0) {
        noArticlesAlert.classList.remove("d-none");
        noArticlesAlert.classList.add("d-block");
      }
      // Show "Article deleted successfully"
      if (urlParams.get("deleteSuccess") === "true") {
        articleDeletedAlert.classList.remove("d-none");
        articleDeletedAlert.classList.add("d-block");
      } 
      // Show "Failed to delete article"
      if (urlParams.get("deleteFailed") === "true") {
        deleteFailedAlert.classList.remove("d-none");
        deleteFailedAlert.classList.add("d-block");
      }

      // SEARCH
      const form1 = document.getElementById('form1');
      form1.addEventListener('submit', e => e.preventDefault());

      const searchBox = document.getElementById("searchBox");
      const searchResults = document.getElementById("searchResults"); // div with search results 
      const theArticles = document.getElementById("theArticles"); // The div with dashboard cards
      const noSearchResAlert = document.getElementById('noSearchResAlert');
      const searchTitle = document.getElementById('searchTitle');  // "SEARCH RESULTS" in header
      const origTitle = document.getElementById('origTitle'); // "DASHBOARD" in header

      const titleCheckbox = document.getElementById('titleCheckbox');
      const subtitleCheckbox = document.getElementById('subtitleCheckbox');
      const txtCheckbox = document.getElementById('txtCheckbox');


      searchBox.addEventListener("input", searchChange); // end searchBox addEventListener
      titleCheckbox.addEventListener('change', searchChange);
      subtitleCheckbox.addEventListener('change', searchChange);
      txtCheckbox.addEventListener('change', searchChange);

      function searchChange() {
        console.log("onchange search with val: " + searchBox.value);

        // If search box is clear or all checkboxes unchecked, just show the dashboard stuff
        if (searchBox.value === "" || (!titleCheckbox.checked && !subtitleCheckbox.checked && !txtCheckbox.checked)) {
          console.log("entered if empty searchbox or all unchecked 290");
          theArticles.classList.remove("d-none"); // Show the regular dashboard list of cards
          searchResults.classList.add("d-none"); // Hide the search results 
          origTitle.classList.remove('d-none'); // Show "DASHBOARD" in header
          searchTitle.classList.add('d-none'); // Hide "SEARCH RESULTS" in header
        }

        // Else let's populate the search results 
        else if(searchBox.value !== "" && 
          (titleCheckbox.checked || 
          subtitleCheckbox.checked || 
          txtCheckbox.checked)) {
            console.log('entered else if... 277')
            origTitle.classList.add('d-none'); // Remove "DASHBOARD" from header
            searchTitle.classList.remove('d-none'); // Display "SEARCH RESULTS" in header
            theArticles.classList.add('d-none');
            searchResults.classList.remove('d-none');

            var origArr = <%- JSON.stringify(articles) %>;
            
            let searchResArts = doSearch(origArr, searchBox.value, titleCheckbox.checked, subtitleCheckbox.checked, txtCheckbox.checked );
            let searchResHtml = "";
            
            console.log('312 searchResArts: ');
            console.log(searchResArts);

            // textStyle for htmlOutput 
            const textStyle = {
              headingStyle: "hashify",
              uIndentationChar: " ",
              oIndentationChar: " ",
            };

            if(searchResArts.length === 0){
              searchResults.innerHTML = "<h4>No search results</h4>";
            }
            searchResArts.forEach(curr => {
              //console.log('301 curr.createdAt: ' + curr.createdAt); // ok 2020-11-17T06:28:34.541Z
              let createdAt = new Date(curr.createdAt);
              //let createdAt = new Date(curr.createdAt.toDateString());
              createdAt = createdAt.toString().split(' ').splice(0,4).join(' ');
              // old broken
              //let myUrl = 'http://' + location.hostname + '/article/' + curr._id;
              let myUrl = "article/" + curr._id;
              // suggested via chingu discord
              
              let theText = htmlToPlainText(curr.txt, textStyle);
              if (theText.length > 200) {
                theText = theText.slice(0, 199) + `...(more)`;
              }
              curr.txt = theText;

              searchResHtml += `
              <div class="item">
                <div class="row border-bottom">
                  <div class="col-md-6">
                    <h3><a href=${myUrl}>${curr.title}</a></h3>
                    <h4 class="organization">${curr.subtitle}</h4>
                    <span class="period align-top">${createdAt}</span>
                    <pre id="html-output" class="text-muted">${curr.txt}</pre>
                  </div>
                  <div class="col-md-6">
                    <a href=${myUrl}>
                      <img 
                        class="mb-3 artImage d-block img-shrunk img-fluid float-right scale-on-hover"
                        src=${curr.link}
                      />
                    </a>
                  </div>
                </div>
              </div>`;

              searchResults.innerHTML = searchResHtml;
            })

        }
      } // end function searchChange

function doSearch(articles, searchField, doTitle, doSubtitle, doText, reverse){
    console.log("entered doSearch 292");
    let newArr = []; // rv
    let searchTerms = [];

    searchField.trim().split(" ").forEach(curr => {
        if(curr !== " "){
            searchTerms.push(curr);
        }
    });

    console.log("search terms: ");
    console.log(searchTerms);

    if(doTitle){
      console.log("entered 305 doTitle");
        searchTerms.forEach(term => {
            articles.forEach(article => {
              let someText = htmlToPlainText(article.title);
              console.log('term: 367: ' + term);
              if(someText.toLowerCase().includes(term.toLowerCase()) && article.alreadyAdded !== true){
                console.log('370 someText: ' + someText);
                newArr.push(article);
                article.alreadyAdded = true;
              }
              /*
                if(article.title.includes(term) && article.alreadyAdded != true){
                    newArr.push(article);
                    article.alreadyAdded = true;
                }
                */
            });
        });
    }

    if(doSubtitle){
      console.log("doSubtitle is: " + doSubtitle);
      
        searchTerms.forEach(term => {
            articles.forEach(article => {
              // Below was including the html content in the search
                /*
                if(article.subtitle.includes(term) && article.alreadyAdded != true){
                    newArr.push(article);
                    article.alreadyAdded = true;
                }
                */
               let someText = htmlToPlainText(article.subtitle);
               if(someText.toLowerCase().includes(term.toLowerCase()) && article.alreadyAdded !== true){
                 console.log("387 someText: " + someText);
                 newArr.push(article); 
                 article.alreadyAdded = true;
               }
            });
        });
    }

    if(doText){
        searchTerms.forEach(term => {
            articles.forEach(article => {
                if(article.txt.toLowerCase().includes(term.toLowerCase()) && article.alreadyAdded != true){
                    newArr.push(article);
                    article.alreadyAdded = true;
                }
            });
        });
    }

    return newArr;
} // end doSearch()

    </script>
    <script src="/js/textversion.js"></script>

  </body>

</html>

<% } %>
<!-- end else if user -->