<% if (!user) { %>
<!-- <p>Welcome! Please <a href="/add_article">Add article</a>.</p> -->
<script>
  window.location.href = "/login";
</script>
<p>
  This site works best with Javascript enabled. If you'd like to try it anyway,
  click <a href="/login">here</a>.
</p>

<% } else { %>
<!DOCTYPE html>

<html>
  <head>
    <style></style>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Edit Article - Fludder</title>
    <meta
      name="description"
      content="This is a simple note-taking app exercise using Node/Express, Passport.js local auth and MongoDB/Mongoose."
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="/css/Login-Form-Dark.css" />
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css" />
    <link rel="stylesheet" href="/css/pell.css" />
    <style>
      #canEditLabel {
        display: inline-block;
      }
      .badgeSuper {
        vertical-align: super;
      }
    </style>
  </head>

  <body>
    <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
    >
      <div class="container">
        <a class="navbar-brand logo" href="/">Fludder</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navbarNav"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/all_articles">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add_article">Add Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="page project-page">
      <section class="portfolio-block project">
        <div class="container">
          <div class="heading">
            <span class="badge badge-primary badgeSuper">editable</span>
            <h2 id="titleHeading" contenteditable="true" 
                class="d-inline border border-primary p-1"
            >
              <%= article.title %>
            </h2>
          </div>
          <div id="artImage" class="text-center">
            <a href="<%- article.link %>"
              ><img
                class="d-inline-block img-fluid mb-6"
                src="<%- article.link %>"
            /></a>
          </div>

            <!-- THIS SO I CAN GRAB IN JS LATER -->
            <p class="d-none" id="originalTxt"><%= article.txt %></p>

          <div class="row">
            <div class="col-12 col-md-12 col-lg-11 col-xl-10 info">
              <div class="row pt-2">
                <div class="col-2">
                  <span class="badge badge-primary mb-1 mt-3 badgeSuper"
                    >editable</span
                  >
                </div>
                <div class="col-12">
                  <h3 id="subtitleHeading" contenteditable="true"
                    class="border border-primary">
                    <%= article.subtitle %>
                  </h3>
                  <!-- <span class="small float-right"><%= createdAt %></span> -->
                </div>
              </div>

              <!-- This not needed really. User can't edit the post date (yet) -->
              <div class="row justify-content-between">

                <!-- <div class="offset-2 col-10"><h5><%= createdAt %></h4></div> --> 
                <!--
                <div class="col-5"><h4>By <%= user.fullname %></h4></div> -->
              </div>
            </div>
          </div>

          <div class="row">
            
            <div class="col-12 col-md-12 col-lg-11 info">
              <span class="badge badge-primary mb-1">editable</span>
              <div class="col w-100"></div>
              <div class="col-12 col-md-12 col-lg-11 pl-0 pr-0 info">
               <div id="editor" class="pell border border-primary"></div>
              <form method="POST" id="theForm" action="/edit_article/<%= article._id %>" style="padding:0;">
                <!-- THIS IS PRE-PELL INTEGRATION 
                <textarea id="textAreaContent" class="form-control" style="width: 90%;" id="bodyTxt" rows="10">
                  <%-article.txt %>
                </textarea>
                -->  
                
                <!-- Not really needed here
                <div class="mt-5 preview-output">
                    <h4>Preview</h4>
                    <div id="preview"></div>
                </div>
                -->

                <input id="articleId" type="hidden" name="articleId" value="<%- article._id %>">
                <input id="deleteArticle" type="hidden" name="deleteArticle" value="">
                <input id="title" type="hidden" name="title">
                <input id="subtitle" type="hidden" name="subtitle">
                <input id="txt" type="hidden" name="txt">
                
              </form>
              <!-- these used to live in form. But moving out to stop from triggering form
              Might need to remove the preventDefault and stopPropagation -->
              <button id="saveButton" class="btn btn-primary">Save</button>
              <button id="deleteButton" class="btn btn-danger" 
                    data-toggle="modal" data-target="#exampleModal">Delete</button>
              </div>
            </div>
        </div>
      </section>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="links"><a href="/about">About</a></div>
        <!-- <div class="social-icons"></div> -->
      </div>
      <!-- Modal -->

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete article?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this article?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="confirmDelButton" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>

</div>

    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/pell.js"></script>

    <script>
      const saveButton = document.getElementById('saveButton');
      // const previewOutput = document.getElementById('preview');
      
      const originalTxt = document.getElementById('originalTxt').innerText;

      //console.log(originalTxt);

      // Initialize preview output
      //previewOutput.innerHTML = originalTxt || "";

      var editor = window.pell.init({
          actions: [
          "bold",
          "italic",
          "underline",
          "strikethrough",
          "paragraph",
          "quote",
          "olist",
          "ulist",
          "code",
          "line",
          "link",
        ],
        element: document.getElementById("editor"),
        defaultParagraphSeparator: "p",
        onChange: function (html) {
          //document.getElementById("preview").innerHTML = html;
          //document.getElementById("html-output").textContent = html;
        },
      }); // end pell init
      // Initialize pell content area
      editor.content.innerHTML = originalTxt;

      saveButton.addEventListener("click", function(event){
        event.preventDefault();
        document.getElementById('title').value = 
          document.getElementById('titleHeading').innerText;
        document.getElementById('subtitle').value = 
          document.getElementById('subtitleHeading').innerText;
        
       document.getElementById('txt').value = 
        editor.content.innerHTML;
       
        document.getElementById('theForm').submit();
      });  // end saveButton.addEventListener

      deleteButton.addEventListener("click", function(e){
          // e.stopPropagation();
          // e.preventDefault();
          console.log('Clicked delete button');

      }); 

      ////////////////////////////// BELOW GET ARTICLE ID AGAIN
      document.getElementById('confirmDelButton').addEventListener('click', function(event){
          document.getElementById('deleteArticle').value = "true";
          
        const theForm = document.getElementById('theForm');
        /*
        const actionURL = theForm.getAttribute("action");
        const newActionURL = actionURL + "/?deleteArticle=true";
        console.log("newActionURL: " + newActionURL);

        theForm.action = newActionURL;
        */
       console.log("reached 275 in event listener");
        theForm.submit();
      });

    
    </script>
  </body>
</html>

<% } %>
